!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    script(type= 'text/javascript').
      $(document).ready(function(){
        $("h2").click(function(){
          var groupName = $(this).text(); 
          console.log(groupName); 
          window.location.href = 'http://localhost:3000/supplies?name=' + sgroupName; 
          });
        });
  body
  .container
    block content 
      div.navbar.navbar-default
        a(href="/").btn.btn-info Go home
        a(href="/newgroup").btn.btn-info New Group
      h1.
        User Groups 
      table.table
        tbody
          each object, i in obj
            tr
              td
                h2= object 