!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.css', rel='stylesheet', media='screen')
  body
  .container              
    h1 Welcome to Sharing is Caring!
    p.lead Sticky-note free communal item tracking
    .container  
      if (!user)
        a(href="/login").btn.btn-info Login
        br
        br
        a(href="/register").btn.btn-success Register
      if (user)
        p You are currently logged in as #{user.username}
        a(href="/mygroups").btn.btn-primary My Groups
        br
        br
        a(href="/logout").btn.btn-success Logout

  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
