extends layout

html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
	body
		block content
			.container
				h1 Enter new group information.
			.container
				h2 New Group Info
				div
					h3 Name:
					input#groupNameInput
				.separator
					h3 Members
					button#moreMembers(onclick="addMember();") +
					button#removeMember(onclick="removeMember();") -
					div(id="membersDiv")
					.member
						h4 Member Name: 
						input.memberNameInput
				.separator
					h3 Items
					button#moreItems(onclick="addItem();") +
					button#removeItem(onclick="removeItem();") -
					div(id="itemsDiv")
					.item
						h4 Item Name:
						input.itemNameInput
				.separator
					br
					button#submit(onclick="submit()") Create Group
			#bottom