extends layout

html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
  body
  .container
    block content
      div.navbar.navbar-default
        a(href="/").btn.btn-info Go home
        a(href="/mygroups").btn.btn-primary My Groups
      .container
        h1 Enter new group information.
      .container
        h2 New Group Info
        div
          h3 Name:
          input#groupNameInput
        .separator
          h3 Members
          button#moreMembers(onclick="addMember();").btn.btn-success +
          button#removeMember(onclick="removeMember();").btn.btn-danger -
          div(id="membersDiv")
          .member

        .separator
          h3 Items
          button#moreItems(onclick="addItem();").btn.btn-success +
          button#removeItem(onclick="removeItem();").btn.btn-danger -
          div(id="itemsDiv")
          .item

        .separator
          br
          button#submit(onclick="submit()").btn.btn-primary Create Group
      #bottom